<template>
  <k-files-field :value="props.content.file" type="files" disabled="true" />
</template>

<script setup>
const props = defineProps();
</script>

<style>
.k-block-type-downloadable-file .k-field[data-disabled="true"] {
  cursor: default;
}
</style>
