<template>
  <div>
    <k-button variant="filled" :icon="icon" @click="checkMapData"
      >Vérifier les adresses</k-button
    >
    <k-info-field
      v-if="requestStatus === 'pending'"
      :text="requestMessage"
      class="k-info-field-pending"
      theme="neutral"
    />
    <k-info-field
      v-if="requestStatus === 'success'"
      :text="requestMessage"
      theme="positive"
    />
    <k-button
      variant="filled"
      :icon="copyIcon"
      :theme="copyTheme"
      v-if="requestStatus === 'success' && notFoundAdresses.length > 0"
      @click="copyErrorsToClipboard()"
      >{{ copyText }}</k-button
    >
    <k-info-field
      v-if="requestStatus === 'error'"
      :text="requestMessage"
      theme="neutral"
    />
    <k-info-field
      v-if="notFoundAdresses.length > 0"
      :text="'Erreurs :<br>• ' + notFoundAdresses.join('<br>• ')"
      class="k-info-field-errors"
      theme="negative"
    />
    <k-info-field
      v-if="completedAdresses.length > 0"
      :text="
        'Géolocalisations réussies :<br>• ' + completedAdresses.join('<br>• ')
      "
      theme="positive"
    />
  </div>
</template>

<script setup>
import { ref, computed } from "vue";

const { mapData } = defineProps({
  mapData: Array,
});

const icon = ref("merge");

const durationSecs = Math.round(mapData.length * 1.7);
const readableDuration = computed(() => {
  const min = Math.floor(durationSecs / 60);
  const secs = durationSecs % 60;
  return min + "min" + secs;
});
const elapsedTimeSecs = ref(0);
const readableElapsedTime = computed(() => {
  const min = Math.floor(elapsedTimeSecs.value / 60);
  const secs = elapsedTimeSecs.value % 60;
  return min + "min" + secs;
});

const currentLine = ref(0);

const requestMessage = ref(
  "<strong>Attention, l'opération durera environ " +
    readableDuration.value +
    "</strong><br><br>" +
    "La vérification tentera de géolocaliser tous les lieux et renseignera les problèmes rencontrés."
);

const requestStatus = ref("pending");

const notFoundAdresses = ref([]);
const completedAdresses = ref([]);

const copyText = ref("Copier les erreurs");
const copyIcon = ref("copy");
const copyTheme = ref("warning");

function fetchWithDelay(url, delay) {
  return new Promise((resolve) => setTimeout(resolve, delay)).then(() =>
    fetch(url, {
      method: "GET",
      redirect: "follow",
    })
  );
}

async function checkMapData() {
  requestMessage.value = computed(() => {
    return `<strong>En cours… ${currentLine.value} / ${mapData.length}</strong><br>
      Veuillez ne pas fermer ni recharger la page.<br>
      ${readableElapsedTime.value} écoulé sur ${readableDuration.value} estimé`;
  });
  elapsedTimeSecs.value = 0;
  setInterval(() => {
    elapsedTimeSecs.value++;
  }, 1000);

  icon.value = "loader";

  for (const [key, item] of mapData.entries()) {
    currentLine.value = key;

    if (item.street.length === 0 && item.town.length === 0) {
      notFoundAdresses.value.push(
        `${item.name} (ligne ${currentLine.value + 1}) : adresse manquante.`
      );
    } else if (item.town.length === 0) {
      `${item.name} (ligne ${currentLine.value + 1}) : commune manquante.`;
    } else {
      const parenthesisRegex = /\([^)]*\)/g;
      const accentsRegex = /[\u0300-\u036f]/g;
      let query = `${item.street}, ${item.town}`;
      query = query
        .replaceAll(" ", "+")
        .normalize("NFD")
        .replace(accentsRegex, "")
        .replaceAll(parenthesisRegex, "");

      const url =
        "https://nominatim.openstreetmap.org/search?format=jsonv2&limit=1&addressdetails=1&q=" +
        query;

      try {
        const response = await fetchWithDelay(url, 1500);
        const json = await response.json();

        if (json.length === 0) {
          notFoundAdresses.value.push(
            `adresse de "${item.name}" erronée (ligne ${currentLine.value + 1})`
          );
          console.error(
            `No result for "${item.name}" (currentLine ${
              currentLine.value + 1
            }) with query : ${query}".`
          );
        }

        console.log("Address founded : ", item.name);
        completedAdresses.value.push(item.name);
      } catch (error) {
        requestStatus.value = "error";
        requestMessage.value = `<strong>Vérification impossible, réessayez dans 30min.</strong><br>
        <br>
        La base de données géolocalisée nécessaire au diagnostic est inaccessible pour le moment.<br>
        Si le nouvel essai 30min plus tard ne marche pas, contactez le développeur du site.`;
        break;
      }
    }
  }

  icon.value = "check";
  requestStatus.value = "success";
  if (notFoundAdresses.value.length > 0) {
    requestMessage.value = ref(`<strong>Diagnostic terminé.</strong><br>
    <br>
    ${notFoundAdresses.value.length} erreurs trouvées. Cliquez sur le bouton ci-dessous pour les copier puis les coller dans une notes afin de ne pas les perdre.`);
  } else {
    requestMessage.value = ref(`<strong>Diagnostic terminé.</strong><br>
    <br>
    Aucune erreur trouvée.`);
  }
}

function copyErrorsToClipboard() {
  var errors = document
    .querySelector(".k-info-field-errors .k-text")
    .innerHTML.replaceAll("<br>", "\r\n");
  navigator.clipboard.writeText(errors);
  copyIcon.value = "check";
  copyText.value = "Copié";
  copyTheme.value = "positive";
  setTimeout(() => {
    copyText.value = "Copier les erreurs";
    copyIcon.value = "copy";
    copyTheme.value = "warning";
  }, 2000);
}
</script>

<style scoped>
.k-button {
  margin-top: 2rem;
}
.k-info-field {
  margin-top: 1rem;
}
</style>
