<template>
  <div>
    <k-button variant="filled" :icon="icon" @click="importMapData"
      >Importer les données</k-button
    >
    <k-info-field
      v-if="requestStatus === 'pending'"
      :text="requestMessage"
      theme="neutral"
    />
    <k-info-field
      v-if="requestStatus === 'success'"
      :text="requestMessage"
      theme="positive"
    />
    <k-info-field
      v-if="requestStatus === 'error'"
      :text="requestMessage"
      theme="neutral"
    />
    <k-info-field
      v-if="notFoundAdresses.length > 0"
      :text="
        'Pas de coordonnées GPS trouvées pour les adresses suivantes. Veuillez les vérifier.<br>• ' +
        notFoundAdresses.join('<br>• ')
      "
      theme="negative"
    />
    <k-info-field
      v-if="completedAdresses.length > 0"
      :text="
        'Lieux ajoutés correctement :<br>• ' + completedAdresses.join('<br>• ')
      "
      theme="positive"
    />
  </div>
</template>

<script setup>
import { ref } from "vue";

const icon = ref("merge");

const requestMessage = ref(
  "Attention, l'import de données écrasera les données du tableau ci-dessus."
);

const requestStatus = ref("pending");

const notFoundAdresses = ref([]);
const completedAdresses = ref([]);
const progress = ref("");

function importMapData() {
  icon.value = "loader";

  const source = new EventSource("/import-map-data.json");

  source.onmessage = function (event) {
    const json = JSON.parse(event.data);

    if (json.status === "error") {
      console.log(json.error);
      notFoundAdresses.value.push(json.error);
    }

    if (json.status === "processing") {
      requestMessage.value = "En cours : " + json.progress;
      completedAdresses.value.push(json.item.name);
      console.log(`Adresse de ${json.item.name} ajoutée correctement.`);
    }

    if (json.status === "success") {
      requestStatus.value = "success";
      requestMessage.value = `Données ajoutées. <a href="${window.location.href}" alt="Recharger la page pour rafraîchir les données.">Rechargez la page</a>.`;
      icon.value = "check";
      console.log(json.data);
      source.close();
    }
  };

  source.onerror = function (event) {
    console.log(event);
  };
}
</script>

<style scoped>
.k-button {
  margin-top: 2rem;
}
.k-info-field {
  margin-top: 1rem;
}
</style>
