/* ================= DESKTOP VARIABLES DESKTOP ================= */
:root {
  --padding-body: 5.556vw;

  --text-width-medium: 70%;

  --border-radius: 1.5rem;

  --color-primary: #222320;
  --color-secondary: #f5a216;
  --color-background-secondary: #fef6e8;
  --color-background-secondary-hover: #fdecd0;

  --font-size-1: 1.25rem;
  --font-size-2: 1.125rem;
  --font-size-3: 1rem;
  --font-size-4: 0.875rem;

  --gap-vertical: 4rem;
  --grid-gap-horizontal: 4vw;

  --trans-normal: all 0.3s ease-in-out;
  --trans-fast: all 0.1s ease-in-out;

  --white-line-offset: -0.075em;
}

/* ================= ANIMATIONS ================= */
@keyframes slideupdown {
  0% {
    transform: scale(1.2) translateY(-0.2rem);
  }

  100% {
    transform: scale(1.2) translateY(0.2rem);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes extend {
  0% {
    width: 0%;
  }

  40% {
    width: 0%;
  }

  65% {
    width: 78.5%;
  }
}

/* ================= RESET ================= */
html,
body {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: sans-serif;
  color: #000;
}

li {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a,
button {
  color: inherit;
  font: inherit;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================= DESKTOP HTML DESKTOP ================= */
/* BROWSERS */

/* Works on Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  border: none;
}

#main-header,
main,
#main-footer {
  padding: 0 var(--padding-body);
  box-sizing: border-box;
}

article {
  position: relative;
}

figcaption {
  margin-top: 0.5rem;
  font-size: var(--font-size-4);
  font-weight: 400;
}

span {
  font-family: inherit;
}

input[type="text"]:focus {
  outline: none;
}

.divider {
  position: relative;
}

hr {
  border: 1px solid var(--color-secondary);
  margin: var(--gap-vertical) 0;
}

.white-line--divider {
  position: absolute;
  top: 0;
  right: 5rem;
  content: "";
  display: block;
  height: 2px;
  width: 4rem;
  background-color: #fff;
  z-index: 1;
}

input[type="email"] {
  display: block;
  padding: 0.875rem 1.375rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-secondary);
  background: var(--color-background-secondary);
}

li,
p,
figcaption,
blockquote,
blockquote footer,
.block--dl-file__info {
  font-family: "Overpass", sans-serif;
}

/* ================= GENERIC CLASSES ================= */
.color-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  mix-blend-mode: hue;

  transition: background-color 0.3s ease-in-out;
}

.no-scroll {
  overflow-y: hidden !important;
}

.block--image:hover .color-filter,
.card:hover .color-filter {
  background-color: transparent;
}

.grid-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap-horizontal);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--gap-vertical);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  height: 30vw;
}
.image-wrapper--half-radius {
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-1 {
  font-size: var(--font-size-1);
  line-height: 120%;
  font-weight: 400;
}

.text-2 {
  font-size: var(--font-size-2);
  line-height: 120%;
  font-weight: 700;
}

.text-3 {
  font-size: var(--font-size-3) !important;
  line-height: 140%;
}

.text-4 {
  font-size: var(--font-size-4) !important;
  line-height: 140% !important;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 3rem;
  border-radius: 6.25rem;
  border: 2px solid var(--color-secondary);
  background: #fff;
  padding: 0 1rem;

  font-family: "Recursive", sans-serif;
  font-size: var(--font-size-2) !important;
  font-weight: 700;
}

.button--full {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.button--arrow::after {
  content: url("/assets/svg/arrow-right.svg");
  margin-left: 0.5rem;
}

.hidden {
  display: none !important;
}

.btn-icon {
  width: 1rem;
  margin-left: 0.7rem;
}

.mobile {
  display: none;
}

/* ================= DESKTOP HEADER DESKTOP ================= */
#main-header {
  padding: var(--padding-body);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-header__logo,
#main-header__logo-line {
  animation: fadein 0.7s ease-in-out;
}

#main-header__logo-line {
  animation: extend 1.4s ease-in-out;
}

#main-header__logo-line {
  position: absolute;
  right: 4rem;
  bottom: 0.82rem;
  width: 78.5%;
  height: 2px;
  background-color: var(--color-secondary);
}

#logo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#logo-title {
  margin-bottom: 0.5rem;
  flex-shrink: 0;
}

#menu {
  display: flex;
  margin-bottom: 5px;
}

.menu__item {
  margin-left: 2.5rem;
}

.menu__item::before {
  width: 0 !important;
  transition: var(--trans-normal);
}

.menu__item:hover::before {
  width: 20% !important;
}

.menu__item:not([target])::after {
  content: none;
}

/* =================================== */
/* ================= DESKTOP TEXTS DESKTOP ================= */
/* =================================== */
h1,
h2,
h3,
h4,
h5,
p,
li {
  color: var(--color-primary);
}

strong {
  font-family: inherit;
}

p,
a {
  font-family: "Overpass", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Recursive", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

h5 {
  font-size: 1.125rem;
  margin-bottom: 0.63rem;
}

main p,
main li {
  font-size: 1.125rem;
  line-height: 140%;
  font-weight: 400;
}

a {
  position: relative;
}
a:not(
    .card-link,
    #logo-wrapper,
    .button,
    .maplibregl-ctrl-attrib-inner a
  )::before {
  display: inline-block;
  position: absolute;
  bottom: var(--white-line-offset);
  content: "";
  height: 2px;
  width: calc(100% - 1.25rem);
  background-color: var(--color-secondary);
}

a[target]:not(.card-link, #main-header > a, .block--image a)::after {
  display: inline-block;
  content: url("/assets/svg/arrow-top-right.svg") !important;
  margin-left: 0.25em;
  transform: scale(0.8) translateY(3px);
}

.main__intro p:not(:last-child),
#newsletter__text p:not(:last-child),
.block p:not(#map-panel p):not(:last-child) {
  margin-bottom: 0.5em;
}

/* ================= WHITE LINES ================= */
.white-line--button,
.white-line--card {
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 2px;
  background-color: #fff;
  transition: var(--trans-normal);
}

.white-line--card {
  width: 2rem;
  left: 2rem;
  bottom: -2px;
}

.card:hover .white-line--card {
  left: calc(50% - 1rem);
}
.card:active .white-line--card {
  transition: var(--trans-fast);
  left: 100%;
}

.white-line--button-top {
  top: -2px;
  left: 1.5rem;
}

.white-line--button-bottom {
  bottom: -2px;
  right: 1.5rem;
}

.button:hover .white-line--button-top {
  left: calc(50% - 0.5rem);
}
.button:hover .white-line--button-bottom {
  right: calc(50% - 0.5rem);
}
.button:active .white-line--button-top {
  transition: var(--trans-fast);
  left: calc(100% - 0.5rem);
}
.button:active .white-line--button-bottom,
.card:active .white-line--card-bottom {
  transition: var(--trans-fast);
  right: calc(100% - 0.5rem);
}

a .white-line--link {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: var(--white-line-offset);
  left: 1rem;
  height: 2px;
  width: 1rem;
  background-color: #fff;
  transition: var(--trans-normal);
}

a:hover .white-line--link {
  left: 50%;
}
a:active .white-line--link {
  transition: var(--trans-fast);
  left: 100%;
}

/* ================= DESKTOP HOME DESKTOP ================= */

#home-header__button {
  margin-top: 2rem;
}

#scroll-down-btn {
  position: absolute;
  bottom: 0;
  font-family: "Recursive", sans-serif;
}

#scroll-down-btn::before {
  width: 0 !important;
}

#scroll-down-btn::after {
  display: inline-block;
  content: url("/assets/svg/arrow-down.svg") !important;
  margin-right: 0.5rem;
  transform: scale(1.2);
  animation: slideupdown 0.7s alternate infinite ease-in-out;
}

#home-header__cover .image-wrapper {
  height: 40vw;
}

#home-body {
  margin-top: var(--gap-vertical);
}

#map-wrapper {
  position: relative;
  width: calc(100% + 2 * var(--padding-body));
  height: 90vh;
  outline: 2px solid var(--color-secondary);
  margin-left: calc(0vw - var(--padding-body));
  margin-top: var(--gap-vertical);
}

#map-locker {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

#map-locker.disabled {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

#map-wrapper.open #map-locker p {
  margin-left: 42vw;
}

#map-locker p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-left: 0;
  transition: all 0.2s ease-in-out;
}
#map-locker.disabled p {
  color: rgba(255, 255, 255, 0);
  pointer-events: none;
}

#map {
  width: 100%;
  height: 100%;
}

#map-panel {
  position: absolute;
  z-index: 3;
  width: 40%;
  min-width: 20rem;
  height: 100%;
  background-color: #fff;
  border-right: 2px solid var(--color-secondary);

  left: -45%;
  transition: all 0.5s ease-in-out;
}

#map-panel.open {
  left: 0%;
}

#map-panel__close-btn {
  position: absolute;
  right: -4rem;
  top: 1rem;
  background-color: #fff;
  border: 2px solid var(--color-secondary);
  border-radius: 10rem;

  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#map-panel__close-btn img {
  width: 50%;
  height: 50%;
}

#map-panel__close-btn__white-line {
  position: absolute;
  display: block;
  top: -2px;
  left: -2.8px;
  width: calc(2.5rem - 6px);
  height: calc(2.5rem - 6px);
  transform: rotate(45deg);
  border-radius: 10rem;

  border: 3px solid #fff;
  border-color: transparent transparent transparent #fff;

  opacity: 1;
  transition: all 0.2s ease-in-out;
}

#map-panel__close-btn__white-line:hover {
  transform: rotate(-45deg);
}

#map-panel__close-btn__white-line:active {
  transform: rotate(-245deg);
  opacity: 0;
}

#map-panel__content-wrapper {
  height: 100%;
  overflow: auto;
}

#map-panel__cover {
  position: sticky;
  top: 0;
  height: 35%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

#map-panel__cover.collapse {
  height: 0%;
}

#map-panel__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#map-panel__content {
  padding: 2rem;
  background-color: #fff;
}

#map-panel__metadata {
  margin: 0.5rem 0;
}

#map-panel__metadata li {
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;
}

#map-panel__network::before {
  content: url("/assets/svg/network.svg") !important;
  transform: scale(0.8) translateY(2px) !important;
}

#map-panel__website::before {
  content: url("/assets/svg/web.svg") !important;
  display: inline-block;
  margin-left: 0.2rem !important;
  margin-right: 0.65rem !important;
  transform: translateY(4px) !important;
}

#map-panel__metadata li::before {
  transform: scale(0.9) translateY(2px);
  margin-right: 0.5rem;
}

#map-panel__tags {
  margin-top: 2rem;
}

#map .marker {
  cursor: pointer;
  background-image: url(/assets/svg/pin.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

#map .marker:hover {
  background-image: url(/assets/svg/pin-hover.svg);
  z-index: 2;
}

#map .marker.active {
  background-image: url(/assets/svg/pin-active.svg);
  z-index: 2;
}

/* ================= DESKTOP FREE DESKTOP ================= */
#article-header,
#article-body {
  margin: 0 16.667vw;
}

#article-header {
  padding-top: 4rem;
  position: relative;
}

#page-infos {
  font-family: "Overpass", sans-serif;
  font-size: var(--font-size-4);
  margin-top: 0.63rem;
  margin-bottom: var(--gap-vertical);
}

.page-info {
  font-family: inherit;
}

.page-info:not(:last-child)::after {
  display: inline-block;
  content: "";
  width: 2px;
  height: 1rem;
  bottom: 0;
  background-color: var(--color-secondary);
  margin: 0 1rem;
  transform: translateY(3px);
}

#page-cover {
  margin-bottom: var(--gap-vertical);
}

/* ================= DESKTOP BUILDER DESKTOP ================= */

main section {
  margin: var(--gap-vertical) 0;
}

/* DESKTOP GRID DESKTOP */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap-horizontal);
  width: 100%;
}

.grid .column {
  grid-column: span var(--span);
}

.grid .column .image-wrapper {
  height: calc(45vw / (4 / var(--span)));
}
.card .image-wrapper {
  height: calc(55vw / 3) !important;
}

#article-body {
  position: relative;
}

.block-type-heading:not(.grid .block-type-heading) {
  margin-top: var(--gap-vertical);
}

.block-type-image:not(.grid .block-type-image) {
  margin: var(--gap-vertical) 0;
}

.block-type-heading + .block-type-image {
  margin-top: 0;
}

blockquote {
  font-size: var(--font-size-2);
  margin: 1rem 0 1rem 3rem;
  font-weight: 700;
}

blockquote footer {
  font-size: var(--font-size-3);
  font-weight: normal;
  margin-top: 0.5rem;
}

blockquote::before {
  position: absolute;
  left: 0;
  content: url("/assets/svg/quote.svg");
}

.block--logos {
  margin: var(--gap-vertical) 0;
}

.block--logos ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap-horizontal);
}

.block--representative {
  margin-bottom: var(--gap-vertical);
}

.block--representative .section-header {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.section-header .button {
  justify-self: end;
}

.cards-slider {
  display: flex;
  flex-wrap: nowrap;
  width: calc(100% + 2 * var(--padding-body));
  margin-left: calc(0rem - var(--padding-body));
  margin-top: var(--gap-vertical);
  padding-bottom: 2rem;
  overflow: scroll;
  scrollbar-width: none;
}
.cards-slider::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.cards-slider .card {
  width: calc(35vw);
  flex-shrink: 0;
  margin-right: 4rem;
}

.cards-slider .card:first-child {
  margin-left: var(--padding-body);
}

.tags {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#article-body .tags {
  margin-top: var(--gap-vertical);
}

.tag,
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid var(--color-secondary);
  background: var(--color-background-secondary);
  padding: 0.63rem 0.75rem;
}

.tag,
.button {
  font-family: "Recursive", sans-serif;
  font-size: var(--font-size-4);
  line-height: 120%;
}

.tag {
  white-space: nowrap;
  padding: 10px 12px;
}

.tag--large {
  font-size: var(--font-size-2);
  padding: 0.875rem 1.375rem;
}

.block--list ul,
#main-footer__contact ul {
  margin: 0.5rem 0;
}

.block--list ul li,
#newsletter__text ul li,
#main-footer__contact ul li,
#newsletter ul li {
  margin-bottom: 0.25rem;
}

#newsletter ul li {
  display: flex;
}

ul li p {
  display: inline-block;
}

.block--list ul li::before,
#main-footer__contact ul li::before,
#newsletter ul li::before,
#repository-header ul li::before,
#article-header ul li::before {
  display: inline-block;
  content: url("/assets/svg/arrow-right-secondary.svg");
  margin-right: 0.5rem;
  transform: translateY(0.15rem);
}

.block--dl-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}

.block--dl-file__link::after {
  content: url("/assets/svg/arrow-down.svg") !important;
  transform: scale(1) translateY(0) !important;
}

.block--dl-file__info {
  display: flex;
  position: relative;
  align-items: center;
  height: 1.125rem;
}

.block--dl-file__info span {
  display: flex;
  align-items: center;
}

.block--dl-file__type::after {
  display: inline-block;
  content: "";
  width: 2px;
  height: 1.125rem;
  background-color: var(--color-secondary);
  margin: 0 1.25rem;
}

/* ================= DESKTOP REPOSITORY DESKTOP ================= */
#repository-header {
  width: var(--text-width-medium);
}

#manage {
  margin-top: var(--gap-vertical);
}

#manage + .divider hr {
  margin-top: 0;
}

#manage__buttons {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
  cursor: pointer;
}

button.tag {
  transition: all 0.3s ease-in-out;
}

button.tag:hover,
button.tag.selected {
  background-color: var(--color-background-secondary-hover);
}

#search {
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

#search.close:hover,
#search.open {
  background-color: var(--color-background-secondary-hover);
}

#search.close #search__clear {
  display: none;
}

#search__field {
  width: 0rem;
  border: none;
  background-color: transparent;
  font-family: "Recursive", sans-serif;
  font-size: var(--font-size-3);
  margin-right: 0;
  transition: width 0.3s ease-in-out;
}

#search.open #search__field {
  width: 15rem;
  margin-right: 1.7rem;
}

#search__open,
#search__clear {
  display: flex;
}

#search__clear,
#search__open {
  width: 1.5rem;
}

#search__clear {
  position: absolute;
  right: 1rem;
}

/* ================= ARTICLE FOOTER ================= */
#cards {
  margin: var(--gap-vertical) 0;
}

#cards__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap-horizontal);
}
.card {
  position: relative;
  border: 2px solid var(--color-secondary);
  border-radius: calc(var(--border-radius) + 2px);
}
.card-link {
  position: static;
  display: block;
}
.card-link::before {
  content: none;
}

.card figure {
  height: 20vw;
}

.card__content {
  margin: 2rem;
}

.card__date {
  font-size: var(--font-size-4);
  margin-bottom: 0.44rem;
}

.card__title::after {
  content: url("/assets/svg/arrow-right.svg");
  margin-left: 1rem;
  transform: scale(1.3);
  display: inline-block;
}

.card__tags {
  margin-top: 2rem;
}

/* DESKTOP NEWSLETTER DESKTOP */
section#newsletter {
  padding: var(--gap-vertical) 0;
}

#newsletter figure,
#newsletter .image-wrapper {
  height: 100%;
}

#newsletter__input-wrapper {
  margin: calc(var(--gap-vertical) / 2) 0;
}

#newsletter label h5 {
  margin-left: 1rem;
}

#newsletter input {
  font-family: "Recursive", sans-serif;
  font-size: var(--font-size-2);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

#newsletter input:focus,
#newsletter input:hover {
  outline: none;
  background-color: var(--color-background-secondary-hover);
}

#newsletter__infos {
  margin-top: calc(var(--gap-vertical) / 2);
  margin-bottom: 0.44rem;
}

/* ================= DESKTOP FOOTER DESKTOP ================= */
#main-footer {
  display: grid;
  padding-bottom: var(--gap-vertical);
  grid-template-columns: repeat(3, 1fr);
  gap: var(--grid-gap-horizontal);
}

#footer-logo__first-part,
#footer-logo__second-part {
  font-family: "Recursive", sans-serif;
}

#footer-logo__first-part {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

#footer-logo__second-part {
  font-size: 2.9375rem;
  font-weight: 600;
}

#main-footer__logo {
  width: 16rem;
  margin-top: -2.7rem;
}

#main-footer li {
  margin-bottom: 0.7rem;
  height: 1.5rem;
  display: flex;
  align-items: baseline;
}

.address::before {
  content: url("/assets/svg/pin.svg") !important;
}

.mail::before {
  content: url("/assets/svg/mail.svg") !important;
  transform: translateY(3px);
}

#main-footer__tel::before {
  content: url("/assets/svg/tel.svg") !important;
  transform: translateY(3px);
}

.main-footer__info {
  margin-top: 2rem;
}

@media screen and (max-width: 1180px) {
  #logo-title,
  #main-header__logo-line {
    display: none;
  }

  #scroll-down-btn {
    display: none;
  }
}

@media screen and (max-width: 915px) {
  /* ================= MOBILE VARIABLES MOBILE ================= */
  :root {
    --gap-vertical: 2rem;
    --gap-vertical-column: 1.5rem;

    --burger-margin: 0.75rem;
  }

  /* ================= MOBILE TEXTS MOBILE ================= */
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  /* ================= MOBILE HTML MOBILE ================= */
  body {
    overflow-x: hidden;
  }

  main {
    margin-top: 3rem;
  }

  /* ================= MOBILE GENERIC CLASSES MOBILE ================= */
  .desktop {
    display: none !important;
  }
  .mobile {
    display: inherit;
  }

  /* ================= MOBILE NAV MOBILE ================= */

  #logo-wrapper,
  #menu--mobile__toggle-btn {
    z-index: 2;
  }

  #menu--mobile {
    position: absolute;
    display: block;
    top: 5rem;
    padding-top: 0;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  #menu--mobile.open {
    padding-top: 3rem;
    height: calc(100vh - 5rem);
  }

  #menu--mobile li {
    margin-bottom: 3rem;
  }

  .menu__item {
    margin-left: 0;
  }

  #burger-icon,
  #burger-icon::before,
  #burger-icon::after {
    position: relative;
    display: inline-block;
    width: 1rem;
    height: 2px;
    background-color: var(--color-primary);
    margin-left: var(--burger-margin);
    transition: all 0.3s ease-in-out;
  }

  #burger-icon::before,
  #burger-icon::after {
    content: "";
    position: absolute;
    left: calc(0px - var(--burger-margin));
  }

  #menu--mobile__toggle-btn.open #burger-icon {
    height: 0px;
  }

  #burger-icon::before {
    transform: translateY(-6px) rotate(0deg);
  }
  #burger-icon::after {
    transform: translateY(6px) rotate(0deg);
  }

  #menu--mobile__toggle-btn.open #burger-icon::before {
    transform: translateY(0px) rotate(45deg);
  }
  #menu--mobile__toggle-btn.open #burger-icon::after {
    transform: translateY(0px) rotate(-45deg);
  }

  /* ================= MOBILE HOME MOBILE ================= */
  .grid-wrapper {
    display: block;
  }
  #home-header__left-col {
    margin-bottom: var(--gap-vertical);
  }

  #home-header__cover .image-wrapper {
    height: 70vh;
  }

  /* ================= MOBILE BUILDER MOBILE ================= */

  .section-header {
    display: block;
  }

  .section-header .button {
    margin-top: var(--gap-vertical);
  }

  .block {
    margin: var(--gap-vertical) 0;
  }

  .grid {
    display: block;
  }

  .cards-slider .card {
    width: calc(65vw);
    margin-right: 1.5rem;
  }

  .card .image-wrapper {
    height: calc(110vw / 3) !important;
  }

  .card__intro {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .card__content {
    margin: 1.5rem;
  }

  .image-wrapper {
    margin-bottom: var(--gap-vertical);
  }

  .image-wrapper {
    height: 40vh !important;
  }
  #newsletter__subscribe-btn {
    margin-top: var(--gap-vertical);
  }

  .main__intro {
    width: 100% !important;
  }

  /* ================= MOBILE REPOSITORY MOBILE ================= */
  #manage__buttons {
    flex-direction: column;
    gap: 2rem;
  }

  #cards__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap-vertical);
  }

  /* ================= MOBILE ARTICLE MOBILE ================= */

  #article-header,
  #article-body {
    padding-top: 0;
    margin: 0;
  }

  #page-infos {
    line-height: 2;
  }

  /* ================= MOBILE MAP MOBILE ================= */
  #map-wrapper {
    overflow: hidden;
  }

  .block--map {
    margin: 0 0;
  }

  #map-panel {
    left: 0;
    bottom: -90vh;
    width: 100%;
    z-index: 3;
  }
  #map-panel__close-btn {
    right: 1rem;
  }
  #map-panel.open {
    bottom: 0vh;
  }

  #map-panel__content {
    padding-top: 4rem;
  }

  .block-type-map .tag {
    white-space: break-spaces;
  }

  /* ================= MOBILE FOOTER MOBILE ================= */
  #main-footer {
    display: block;
  }

  #main-footer > * {
    margin-bottom: var(--gap-vertical);
  }

  #main-footer p:not(#footer__logo p),
  #main-footer a {
    font-size: var(--font-size-1);
  }
}
