<template>
  <k-grid>
    <k-column width="1/2">
      <k-block-figure
        v-if="content.leftimage.length === 0"
        :is-empty="true"
        empty-icon="image"
        empty-text="Choisissez une image …"
      />
      <k-block-figure v-else>
        <k-image-frame
          :cover="true"
          ratio="4/3"
          :src="content.leftimage[0].url"
        />
      </k-block-figure>
    </k-column>
    <k-column width="1/2">
      <k-block-figure
        v-if="content.rightimage.length === 0"
        :is-empty="true"
        empty-icon="image"
        empty-text="Choisissez une image …"
      />
      <k-block-figure v-else>
        <k-image-frame
          :cover="true"
          ratio="4/3"
          :src="content.rightimage[0].url"
        />
      </k-block-figure>
    </k-column>
  </k-grid>
</template>

<script setup>
const props = defineProps();
</script>

<style>
.k-block-type-side-by-side-images .k-column {
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  margin: 0 4vw;
}

.k-block-type-side-by-side-images .k-block-figure,
.k-block-type-side-by-side-images .k-block-figure-empty {
  min-height: 15rem;
  height: 100%;
}
</style>
