.k-block-type-side-by-side-images .k-column{height:100%;border-radius:1.5rem;overflow:hidden;margin:0 4vw}.k-block-type-side-by-side-images .k-block-figure,.k-block-type-side-by-side-images .k-block-figure-empty{min-height:15rem;height:100%}
